@use '../../styles//partials/global' as *;

.container {
  height: 80rem;
  position: relative;
}

.editInventory {
  font-family: "Titillium Web";
  margin: 0 1.5rem;
  box-shadow: 0 2px 5px 0 rgba(19, 24, 44, 0.1);
  background-color: $white;
  position: absolute;
  top: 8.125rem;
  left: 0;
  right: 0;
  z-index: 2;
  border-radius: 4px;

  @include tablet {
    // height: 40rem;
    top: 7rem;
    margin-left: 2.25rem;
    margin-right: 2.25rem;
  }

  @include desktop {
    @include margin-desktop;
  }
}

.editInventory__itemDetails {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-bottom: 1px solid $cloud;

  @include tablet {
    width: 50%;
    border-right: 1px solid $cloud;
    border-bottom: none;
  }

  &__items {
    flex-direction: column;
    display: flex;

    &--label {
      display: flex;
      flex-direction: column;
      padding: .5rem 0;
      gap: .2rem;
      font-weight: 600;
    }

    &--input {
      width: 90%;
      height: fit-content;
      border-radius: 20px;
      padding: .5rem;
      border: 1px solid $cloud;
      font-family:  "Titillium Web";
    }

    &--radio {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 5rem;
      padding-bottom: .5rem;
    }

    &--radio-quantity {
      display: flex;
      flex-direction: column;
    }

    &--radio-quantity-label {
      padding-top: 1rem;
    }
  }
}

.editInventory__itemAvailability {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  @include tablet {
    width: 50%;
    padding-left: 1.5rem;
  }
}


.radio-button {
  color: $black;
  display: flex;
  gap: .3rem;
}

.grey {
  color: $slate;
  display: flex;
  gap: .3rem;
}

.checkbox {
  appearance: none;
  background-image: url('../../assets//icons/arrow_drop_down-24px.svg');
  background-repeat: no-repeat;
  background-position: (90% 0.3rem);
}

.editInventory--button {
  position: relative;
  padding: 1rem;
  background-color: $lightGrey;
}

.editInventory-save {
  background-color: $indigo;

  @include tablet {
    width: 10%;
  }

  &:hover {
    background-color: $graphite;
    text-decoration: none;
    list-style-type: none;
  }
}

.editInventory--cancel {
  color: $slate;

  @include tablet {
    width: 10%;
  }

  &:hover {
    color: $indigo;
    border: 1px solid $indigo;
    text-decoration: none;
    list-style-type: none;
  }
}

.form_validation {
  color: $red;
  padding: 1rem;
}

.editInventory__back-arrow {
  align-items: center;
  display: flex;
}

.editInventory__header {
  display: flex;
  border-bottom: 1px solid $cloud;
  padding: 2rem 1rem;
  align-items: center;
  gap: .2rem;

}

.editInventory__form {
  @include tablet {
    display: flex;
    padding: 1rem;
  }
}

.error{
  border-color: $red;
}

.editInventory__itemDetails__items--input {
  &:focus {
    outline-color: $indigo;
  }

  &.error {
    outline-color: $red;
  }
}