@use '../../styles//partials/global' as *;


.editInventory__back-arrow {
  align-items: center;
  display: flex;
}

.editInventory__header {
  display: flex;
  border-bottom: 1px solid $cloud;
  padding: 1rem;
  align-items: center;
  gap: .2rem;

}

.editInventory__itemDetails {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-bottom: 1px solid $cloud;

  &__items {
    flex-direction: column;
    display: flex;

    &--h3 {
      display: flex;
      flex-direction: column;
      padding: .5rem 0;
      gap: .2rem;
    }

    &--input {
      width: 90%;
      height: fit-content;
      border-radius: 20px;
      padding: .5rem;
      border: 1px solid $cloud;
    }

    &--radio {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 5rem;
    }

    &--radio-quantity {
      display: flex;
      flex-direction: column;
    }

    &--radio-quantity-h3 {
      // display: flex;
      // flex-direction: column;
      padding-top: 1rem;
    }
  }
}

.editInventory__itemAvailability {
  display: flex;
  flex-direction: column;
  padding: 1rem;

}


.radio-button {
  color: $black;
  display: flex;
  gap: .3rem;
}

.grey {
  color: $slate;
  display: flex;
  gap: .3rem;
}

input[type="radio"]:checked {
  color: $slate;
}

.checkbox {
  appearance: none;
  background-image: url('../../assets//icons/arrow_drop_down-24px.svg');
  background-repeat: no-repeat;
  background-position: (90% 0.3rem);
}

.editInventory--button {
  padding: 1rem;
}

.editInventory-save {
  background-color: $indigo;
}

.editInventory--cancel {
  color: $slate;
  text-decoration: none;
  list-style-type: none;
}

.form_validation {
  color: $red;
  padding: 1rem;
}