@import "../../styles/partials/global";

.edit-warehouse-page {
    height: 63rem;
  position: relative;
  margin-top: 8rem;
  @include tablet {
    margin-top: -1rem;
  }
  }
  .container {
    height: 80rem;
    position: relative;
    margin-top: 8rem;
    @include tablet {
      margin-top: -1rem;
    }
  }

.edit-warehouse {
    font-family: "Titillium Web";
  margin: 0 1.5rem;
  box-shadow: 0 2px 5px 0 rgba(19, 24, 44, 0.1);
  background-color: $white;
  position: absolute;
  // top: 8.125rem;
  left: 0;
  right: 0;
  z-index: 2;
  border-radius: 4px;

  @include tablet {
    // height: 40rem;
    // top: 7rem;
    margin-top: 7rem;
    margin-left: 2.25rem;
    margin-right: 2.25rem;
  }

  @include desktop {
   margin: 7rem auto 0;
   max-width: 63.75rem;
  }

    &__title {
        display: flex;
        padding: 2rem 0;
        border-bottom: 1px solid $cloud;

        &-icon {
            padding: 0.5rem 0.5rem 0 1.5rem;
        }

        &-display {
            font-size: h1;
            font-weight: 600;
        }

    }

    &__details {
        box-shadow: 0 2px 5px 0 rgba(19, 24, 44, 0.1);
        height: 57.625;
        @include tablet {
            padding-top: 1.5rem;
        }
    }

    &__form {

        &-input-wrapper {
            @include tablet {
                display: flex;
                padding-bottom: 1.5rem;
            }
        }
        
        &-group-one {
            display: flex;
            flex-direction: column;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            border-bottom: 1px solid $cloud;
            padding-bottom: 1rem;
            @include tablet {
                flex-grow: 1;
                border-right: 1px solid $cloud;
                border-bottom: none;
            }
            
            &-subtitle {
                padding-top: 1.5rem;
                padding-bottom: 2rem;
                font-weight: 600;
            }

            &-label {
                @include title-padding;
                font-size: h3;
                font-weight: 600;
            }

            &-input {
                font-family: "Titillium Web";
                margin-bottom: 1rem;
                border: 1px solid $cloud;
                border-radius: 1.25rem;
                @include p2;
                font-weight: 400;
                height: 2.25rem;
                padding-left: 1rem;
                &::placeholder {
                    color: $black;
                }

                &.active {
                    @include active-input;
                }
                &.error {
                    @include error-input;
                }
            }
        }

        &-group-two {
            display: flex;
            flex-direction: column;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            background-color: $white;
            @include tablet {
                flex-grow: 1;
            }

            &-subtitle {
                padding-top: 1.5rem;
                padding-bottom: 2rem;
            }

            &-label {
                @include title-padding;
                font-weight: 600;
            }

            &-input {
                font-family: "Titillium Web";
                margin-bottom: 1rem;
                border: 1px solid $cloud;
                border-radius: 1.25rem;
                @include p2;
                font-weight: 400;
                height: 2.25rem;
                padding-left: 1rem;
                &::placeholder {
                    color: $black;
                }

                &.active {
                    @include active-input;
                }
                &.error {
                    @include error-input;
                }
            }
        }
    }

    &__button {
        background-color: $lightGrey;
        text-align: center;
        padding: 1rem 0;
        display: flex;
        justify-content: space-between;
        border-radius: 0 0 3px 3px;
        

        @include tablet {
            justify-content: flex-end;
            align-items: center;
            padding-bottom: 0.7rem;
            height: 5rem;
            
        }

        &-cancel {
            background-color: $white;
            border: 1px solid $cloud;
            margin-left: 1.5rem;
            color: $slate;
            // flex-grow: 1;
            margin-right: 1rem;
            width:8.68rem;
            @include tablet {
                margin-right: 1.5rem;
                height: 2.375rem;
                width: 4.5rem;
            }

            &:hover {
                background-color: $white;
                border: 1px solid $indigo;
                margin-left: 1.5rem;
                color: $indigo;
                text-decoration: none;
            }
        }

        &-save {
            background-color: $indigo;
            color: $white;
            margin-right: 1.5rem;
            // flex-grow: 1;
            width:8.68rem;

            @include tablet {
                height: 2.375rem;
                width: 4.5rem;
            }

            &:hover {
                background-color: $indigo;
                color: $white;
                margin-right: 1.5rem;
                text-decoration: none;
            }
        }

       
    }

}

body {
    background-color: $lightGrey;
    font-family: "Titillium Web";
}

.error {
    display: flex;
    &-icon {
        width: 1rem;
        height: 1rem;
    }
    &-text {
        font-size: 0.625rem;
        color: #C94515;
    }
}
