// Color variables
$black: #13182C;
$slate: #5C667E;
$graphite: #232940;
$green: #158463;
$indigo: #2E66E5;
$cloud: #BDC5D5;
$lightGrey: #F7F8F9;
$red: #C94515;
$white: #FFFFFF;

// Breakpoint variables
$tablet: 768px;
$desktop: 1280px;
