@import "../../styles/partials/global";

.header {
    background-color: $graphite;
    padding-top: 1.5rem;
    display: flex;
    height: 12.5rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    @include tablet {
        padding: 1.5rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 2rem;
    }

    @include desktop {
        padding: 2rem 8.125rem;
    }

    &-logo {
        margin: 0 auto;
        height: 2.75rem;
        width: 8.035rem;
        @include content-padding;

        @include tablet {
            padding: 0;
            margin: 0;
        }

        @include desktop {

        }
    }

    &-navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__items {
            text-decoration: none;
            list-style: none;

            @include tablet {
                padding: 0.5rem 0 0 1rem;
            }


        }
    }

}

button {
    color: $cloud;
    background-color: $graphite;
    border: none;
    // padding: 0.5rem 1rem;
    width: 10.25rem;
    height: 2.25rem;
    border-radius: 1rem;
    @include h3;
    font-weight: 600;
    font-family: "Titillium Web";

    @include tablet {
        width:6.69rem;
        height: 2.375rem;
    }

    &:hover {
        text-decoration: underline;
        color: $white;
    }

    &.active {
        background-color: $black;
        border: none;
        // padding: 0.5rem 1rem;
        border-radius: 1rem;
        color: $white;
        text-align: center;
        // width: 10.25rem;
        // text-align: center;

    }
    
}
