@import "../../styles/partials/global";

.header{
    background-color: $graphite;
    padding-top: 1.5rem;
    display: flex;
    height: 12.5rem;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1; 

    @include tablet {
        padding-top: 2rem;
    }

    &-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include tablet {
            flex-direction: row;
            justify-content: space-between;
            @include margin-tablet;
        }

        @include desktop {
            width: 63.75rem;
            @include margin-desktop;
        }
    }


    // header logo
    &-logo {
        height: 2.75rem;
        width: 8.035rem;
        @include content-padding;

        @include tablet {
            padding: 0;
            margin: 0;
        }
    }

    &-navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        @include tablet {
            justify-content: flex-end;
        }


        &__items {
            text-decoration: none;
            list-style: none;
            margin: 0 1rem;

            @include tablet {
                margin: 0;
            }
        }
    }
}

// warehouses and inventory button
button {
    color: $cloud;
    background-color: $graphite;
    border: none;
    width: 10.25rem;
    height: 2.25rem;
    border-radius: 1rem;
    @include h3;
    font-weight: 600;
    font-family: "Titillium Web";

    @include tablet {
        width:6.69rem;
        height: 2.375rem;
    }

    &:hover {
        text-decoration: underline;
        color: $white;
    }

    &.active {
        background-color: $black;
        border: none;
        border-radius: 1rem;
        color: $white;
        text-align: center;
    } 
}



