@import "../../styles/partials/global";


.footer {
    padding: 1rem;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    flex-wrap: nowrap;
    background-color: $lightGrey;
    // position: fixed;
    z-index: 2;
    bottom: 1.5rem;
    left:20%;


    @include tablet {
        padding: 1.5rem;
        bottom: 1rem;
        width: 100%;
        left: 1%;
        margin-top: 4rem;
    }

    @include desktop {
        padding: 1.5rem 8rem;
    }

    &-copyright {
        font-family: "Titillium Web";
        text-align: center;
        color: $slate;
        @include p3;
        margin-top: 0.1rem;

    }

    &-copyright-icon {
        padding-right: 0.2rem;
        color: $slate;

    }
}