@import "../../styles/partials/global";


.footer {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    flex-wrap: nowrap;
    background-color: $lightGrey;
    position: fixed;
    z-index: 2;


    @include tablet {
        padding: 1.5rem;
        bottom: 1rem;
        width: 100%;
    }

    @include desktop {
        padding: 1.5rem 8rem;
    }

    &-copyright {
        font-family: "Titillium Web";
        text-align: center;
        color: $slate;
        @include p3;
        margin-top: 0.25rem;
        // height: 1.125rem;
    }

    &-copyright-icon {
        padding-right: 0.3rem;
        color: $slate;
        // height: 1.125rem;
    }
}