@import "../../styles/partials/global";


.footer {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    flex-wrap: nowrap;

    @include tablet {
        padding: 1.5rem;
    }

    @include desktop {
        padding: 1.5rem 8rem;
    }

    &-copyright {
        font-family: "Titillium Web";
        text-align: center;
        color: $slate;
        @include p3;
        margin-top: 0.25rem;
    }

    &-copyright-icon {
        padding-right: 0.3rem;
        color: $slate;
    }
}