@use '../../styles/partials/global' as *;

.page__background{
    background-color: $lightGrey;
}

.page__allignment{
    z-index: 2;
    margin-top: 10.5rem;
    background-color: $white;
    width: 90%;
    position: relative;
    left: 5%;
    bottom:2rem;
    border-radius: 4px; //add padding-bottom: 2rem; for heade-navbar fr thsi to work
    @include tablet {
        margin-top: 9rem;
    }
}
