@import "../../styles/partials/global";

.warehouse-list-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1.5rem;
    border-bottom: 1px solid $cloud;
    justify-content: left;
    @include tablet {
        padding: 1rem 2rem;
        flex-wrap: nowrap;
        align-items: center;
      
    }
}

.warehouse-item {
    width: 45%;
    margin-bottom: 1rem;
    @include tablet {
        width: 19%;
        margin: 0;
        margin-right: 6%;
    }
    @include desktop {
        margin-right: 2.5%;
        width: 24%;
    }
    &__content {
        @include p2;
        @include tablet {
            margin-left: 0.2rem;
        }
        @include desktop {
            margin-left: 0;
        }
    }
    &__contact {
        margin-left: 1.5rem;
        @include tablet {
        margin: 0;
        }
        &--wide {
            @include tablet {
               width: 27%;
               margin-left: 0.3rem; 
            }
            
        }
        &--link {
            @include tablet {
                width: 30%;
                margin-right: -2.4%;
            }
        }
    }
    &__link {
        display: flex;
        align-items: center;
        @include tablet {
            width: 90%;
        }
    }
    &__buttons {
        display: flex;
        width: 100%;
        justify-content: space-between;
        @include tablet {
            flex-direction: row;
            width: 10%;
            justify-content: center;
        }
    }
    &__mobile {
        @include tablet {
            display: none;
        }
        
    }
    &__desktop {
        display: none;
        @include tablet {
            display: block;
        }
        
    }
}

.warehouse-item-title__mobile {
    margin-bottom: 0.2rem;
    @include tablet {
        display: none;
    }
}
.warehouse-item__button {
    @include tablet {
        width: 24px;
        height: 24px;
    }
}




.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-color: rgba(0, 0, 0, 0.5);
    background-color: rgba(35, 41, 64, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal {
    background-color: $white;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include tablet {
        width: 80%;
        height: 35%;
        margin: auto;
        margin-top: 28vh;
        padding: 2rem;
    }
    @include desktop{
        width: 60%;
    }

    &__title-cont {
        color: $black;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    &__title--title {
        width: 65%;

        @include desktop{
            font-size: 32px;
        }
    }

    &__title {
        color: $black;
        letter-spacing: .5px;
        padding: 1.5rem 0;
        width: 85%;
        font-size: 1rem;

        @include desktop {
            line-height: 2.5rem;
            padding-top: 2rem;
            font-size: 1.2rem;        
        }
    }

    &__button {
        display: flex;
        justify-content: space-between;

        @include tablet{
            gap: 1.5rem;
            justify-content: flex-end;
        }

        &--cancel {
            cursor: pointer;
            align-self: flex-end;
            width: 45%;
            height: 2rem;
            // border: none;
            background-color: $white;
            color: $slate;
            border: 1px solid $cloud;
            font-weight: bolder;
            &:hover{
                color: $indigo;
                border-color: $indigo;
                text-decoration: none;
            }
            @include tablet {
                width: 15%;
            }
        }
        &--delete {
            cursor: pointer;
            align-self: flex-end;
            width: 45%;
            height: 2rem;
            border: none;
            color: $white;
            font-weight: bolder;

            &:hover{
                background-color: $black;
                text-decoration: none;
            }
            @include tablet {
                width: 15%;
            }
        }
    }
}
.delColor{
    background-color: $red;
}