@import "../../styles/partials/global";

.inventory-detail {
    height: 25rem;
    font-family: "Titillium Web";
    margin: 0 1.5rem;
    box-shadow: 0 2px 5px 0 rgba(19, 24, 44, 0.1);
    background-color: $white;
    position: absolute;
    top: 8.125rem; 
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;

    @include tablet {
        top: 6.35rem;
        height: 22rem;
    }

    &-title {
        display:flex;
        padding: 2rem 1rem 1.5rem 1rem;
        border-bottom: 1px solid $cloud;
        display: flex;
        justify-content: space-between;

        &-wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
        }
        &__edit {
            background-color: $indigo;
            background-size: cover;
            border-radius: 1.25rem;
            height: 2.25rem;
            width: 2.25rem;

        }

        &__icon {
            padding-right: 0.5rem;
            padding-top: 0.5rem;
        }
    }

    &-content {
        padding-left: 1rem;
        padding-right: 1rem;
        width: 100%;

        @include tablet {
            display: flex;
            &-left {
                flex-grow: 1;
                width: 30%;
                border-right: 1px solid $cloud;
                margin-top: 1.5rem;
                margin-bottom: 1.5rem;
            }

            &-right {
                flex-grow: 2;
                width: 30%;
                margin-left: 2rem;
                margin-top: 1rem;

            }

        }


        &__title {
            padding-top: 1rem;
            padding-bottom: 0.25rem;
        }

        &-wrapper {
            display: flex;

            &-left {
                flex-grow: 1;
            }

            &-right {
                flex-grow: 1;
            }
        }

        &__details {
            &--status {
                color: #158463;
                background-color: rgba(21, 132, 99, 0.07);
                height: 1.5rem;
                width: 3.8125rem;
                border-radius: 1.25rem;
                padding: 0.25rem 0.5rem;
                font-weight: 600;
                font-size: 11px;
                text-align: center;
            }

            @include tablet {
                padding-bottom: 2rem;
            }
        }
    }
    
}